html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: start;
}

h1 {
    color: rgb(0, 94, 187);
    margin: 15px auto;
}

.center {
    text-align: center;
}

p {
    color: gray;
    margin: 10px auto;
}

.img {
    max-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: -120px;
}

.btn {
    display: flex;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 1.5em;
    flex-direction: column;
    margin: 15px 0;
    text-decoration: none;
}

.red-pill {
    background-color: rgb(183, 0, 0);
}

.blue-pill {
    background-color: rgb(8, 71, 245);
}